#header{
    text-align: center;
    color: #26cc00;
    font-family: monospace;
}
body{
    background-color: #121212;
}
#display{
    font-family: monospace;
    display:inline-flex;
    gap:0.3em;
    color: #D8D8D8;
    font-size: 32px;
    margin-left: 33%;
}
button{
    background-color: #D8D8D8;
    flex:auto;
    position: relative;
    transition: all 0.1s ease-out;
}
button:after {
    content:'';
    position:absolute;
    top:-21px; bottom:-21px; 
    left:-5px; right:-5px; 
}
#buttons{
    margin-left: auto;
    margin-right: auto;
    background-color: #252525;
    width:600px;
    height: 320px;
    padding:0.4em;
    
}
#one{
    position: relative;
}
#one:after{
    content:'';
    position:absolute;
    top:-21px; bottom:-21px; 
    right:-50px; left: -50px;
}
#two{
    position: relative;
}
#two:after{
    content:'';
    position:absolute;
    top:-21px; bottom:-21px; 
    right:-50px; left: -50px;
}
#thre{
    position: relative;
}
#thre:after{
    content:'';
    position:absolute;
    top:-21px; bottom:-21px; 
    right:-50px; left: -50px;
}
#r1{
    display: flex;
    padding-top: 0.5em;
}
.reg{
    background-color: #252525;
    border-style: none;
    font-size: large;
    color: #D8D8D8;
}
.green{
    background-color: #252525;
    border-style: none;
    color: #26cc00;
    font-size: large;
}
#r2{
    display: flex;
    margin-top:3em;
}
#r3{
    display: flex;
    margin-top:3em;
}
#r4{
    display: inline-flex;
    margin-left: 4em;
    gap:8em;
}
#eq{
    display: inline-flex;
}
#equ{
    width:60px;
    flex-grow: 0;
    height:100px;
    margin-left:6em;
    margin-top:0.8em;
    background-color: #26cc00;
    color: #D8D8D8;
    position:relative;
}
#equ:after{
    content:'';
    position:absolute;
    top:-2px; bottom:-2px; 
    right:-2px; left: -2px;
}
#r5{
    display: flex;
    margin-top: 0.6em;
}
.reg2{
    background-color: #252525;
    border-style: none;
    font-size: large;
    color: #D8D8D8;
    margin-right: 8.3em;
}
.clicked{
    background-color: #D8D8D8;
}
.clicked2{
    text-shadow:0 0 20px #26cc00, 0 0 30px #26cc00, 0 0 40px #26cc00, 0 0 55px #26cc00, 0 0 75px #26cc00;
}
.clicked3{
    text-shadow:0 0 20px blue, 0 0 30px blue, 0 0 40px blue, 0 0 55px blue, 0 0 75px blue;

}
.light{
    background-color: #F5F5F3;
    color:black;
}
.light2{
    background-color: white;
}
.clicked4{
    background-color: #252525;
}
#footer{
    background-color: white;
    color: black;
    text-align: center;
    font-size: 18px;
    margin-top: auto;
    right:50%;
    padding-left: 20px;
    padding-right: 20px;
}